{% use '@TalesFromADevFlowbite/form/default.html.twig' %}

{% block class_label -%}
    block mb-2 text-sm text-foreground font-medium
{%- endblock class_label %}

{% block class_input_text -%}
    text-foreground bg-white rounded-lg text-sm block w-full p-2.5 border border-input focus:z-10 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring
{%- endblock class_input_text %}

{% block class_input_checkbox -%}
    rounded w-4 h-4 text-accent bg-white border border-input focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring
{%- endblock class_input_checkbox %}

{% block class_input_radio_label -%}
    ml-2.5 text-sm  text-foreground
{%- endblock class_input_radio_label %}

{% block class_input_radio -%}
    w-4 h-4 text-accent bg-white border-input focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring
{%- endblock class_input_radio %}

{% block class_addon -%}
    inline-flex items-center px-3 text-sm text-foreground bg-other border border-input
{%- endblock class_addon %}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set attr = attr|merge({'class': attr.class|default('flex')|trim}) -%}
        {%- set attr_class_error = '' -%}
        {%- if not valid -%}
            {%- set attr_class_error = ' ' ~ block('class_input_error') -%}
        {%- endif -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year, { attr: { class: (block('class_widget_addon_append') ~ ' ' ~ attr_class_error|trim|tailwind_merge) }}),
                '{{ day }}': form_widget(form.day, { attr: { class: (block('class_widget_addon_prepend') ~ ' ' ~ attr_class_error|trim|tailwind_merge) }}),
                '{{ month }}':   form_widget(form.month, { attr: { class: ('rounded-none' ~ attr_class_error)|trim|tailwind_merge }}),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}

{%- block collection_widget -%}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype), 'data-controller': 'form-collection' }) -%}
    {% endif %}
    {{- block('form_widget') -}}
{%- endblock collection_widget -%}

{% block class_input_file -%}
    block w-full text-sm text-foreground border border-input rounded-lg cursor-pointer bg-white focus:outline-none file:bg-ternary file:hover:bg-ternary file:border-0 file:text-foreground file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring file:p-2 file:cursor-pointer cursor-pointer
{%- endblock class_input_file %}

{% block class_help_text -%}
    my-2 text-sm text-muted
{%- endblock class_help_text %}
