{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% import 'partials/_breadcrumbs.html.twig' as breadcrumbs %}

{% block body %}
<div class="flex flex-col gap-8">
    {{ breadcrumbs.render([
        {'url': url('admin_dashboard'), 'text': 'Tableau de bord'},
        {'url': url('admin_user'), 'text': 'Utilisateurs'},
    ]) }}
    <h1 class="font-semibold text-2xl text-foreground">Utilisateurs</h1>
    <div class="relative overflow-x-auto rounded-lg">
        <div class="relative mx-auto mb-8">
            {% include 'admin/partials/_search-bar.html.twig' with {
                'form': form
            } %}
        </div>
        <table class="w-full rounded-lg overflow-hidden text-sm text-left text-muted table-striped">
            <thead class="text-xs text-foreground uppercase bg-accent">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    Nom
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Age
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Annonce
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Rôles
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr class="border-b hover:bg-gray-50">
                <th scope="row" class="flex items-center px-6 py-4 text-muted whitespace-nowrap">
                    {% if user.userImage %}
                        <img src="{{ asset('uploads/users/' ~ user.userImage.filename) }}" alt="Avatar de {{ user.getFullname }}" class="w-10 h-10 rounded-full">
                    {% else %}
                        <img src="https://ui-avatars.com/api/?name={{ user.firstName }}+{{ user.lastName }}" alt="Avatar de {{ user.getFullname }}" class="w-10 h-10 rounded-full">
                    {% endif %}
                    <div class="ps-3">
                        <div class="text-base font-semibold">{{ user.getFullname }}</div>
                        <div class="font-normal text-gray-500">{{ user.email }}</div>
                    </div>
                </th>
                <td class="px-6 py-4 text-center">
                    {{ user.dateOfBirth | age }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ (user.housings | length) + (user.tenants | length) }}
                </td>
                <td class="px-6 py-4">
                    <div class=" flex gap-2 flex-col justify-center items-center">
                    {% for role in user.roles %}
                        {% if role == 'ROLE_USER' %}
                            <span class="bg-input text-foreground text-xs text-center w-fit font-medium me-2 px-2.5 py-0.5 rounded">Utilisateur</span>
                        {% elseif role == 'ROLE_ADMIN' %}
                            <span class="bg-destructive/40 text-destructive text-center w-fit text-xs font-medium me-2 px-2.5 py-0.5 rounded">Admin</span>
                        {% endif %}
                    {% endfor %}
                    </div>
                </td>
                <td class="px-6 py-4" data-controller="dialog" data-action="click->dialog#backdropClose">
                    <div class="flex gap-4 items-center justify-center">
                        <a target="_blank" href="{{ path('app_user_profile', {'id': user.id}) }}">
                            <twig:ux:icon name="lucide:eye" class="w-5 object-fit text-muted" />
                        </a>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">
                            <twig:ux:icon name="lucide:pen" class="w-5 object-fit text-muted" />
                        </a>
                        <dialog data-dialog-target="dialog">
                            <div class="p-6 flex flex-col gap-6 items-center min-w-[300px]">
                                <div class="rounded-full bg-destructive/40 p-4 w-fit">
                                    <twig:ux:icon name="lucide:triangle-alert" class="w-12 object-fit text-destructive" />
                                </div>
                                <p class="text-muted">Etes-vous sûr de vouloir supprimer le compte utilisateur de</p>
                                <div class="alert bg-other text-foreground w-full text-center font-medium">{{ user.getFullname }}</div>
                                <div class="flex gap-4">
                                    <button class="btn btn-secondary" type="button" data-action="dialog#close" autofocus>Annuler</button>
                                    <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-destructive sm:w-fit" type="button">Supprimer</a>
                                </div>
                            </div>
                        </dialog>
                        <button data-action="dialog#open" type="button">
                            <twig:ux:icon name="lucide:trash-2" class="w-5 object-fit text-destructive" />
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <nav class="w-full flex justify-between mt-4 flex-wrap gap-4">
        <p class="text-center">Résultat {{ users.getPaginationData.firstItemNumber }} - {{ users.getPaginationData.lastItemNumber }} sur {{ users.getPaginationData.totalCount }} utilisateurs.</p>
        {{ knp_pagination_render(users) }}
    </nav>
</div>
{% endblock %}
