{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% import 'partials/_breadcrumbs.html.twig' as breadcrumbs %}

{% block body %}
    <div class="flex flex-col gap-8">
        {{ breadcrumbs.render([
            {'url': url('app_account'), 'text': 'Mon compte'},
            {'url': url('app_account_ads'), 'text': 'Mes annonces'},
        ]) }}
        <h1 class="font-semibold text-2xl text-foreground">Mes annonces ({{ totalAds }})</h1>

        {% if totalAds == 0 %}
        <div>
            <p class="text-muted">Vous n'avez aucune annonce.</p>
        </div>
        {% else %}
        <div class="flex flex-col gap-4">
            {#housing#}
            {% for housing in housings %}
                <div class="border border-input rounded-lg lg:flex-row lg:flex">
                    <div class="md:flex">
                        {% set image = housing.housingImages.first %}
                        <img src="{{ asset('uploads/housings/' ~ image.filename) }}" alt="Logement de {{ housing.user.getFullname }}" class="max-h-[280px] md:max-h-[200px] md:w-[250px] object-cover w-full">
                        <div class="p-4 flex flex-col gap-4 md:justify-between">
                            <h2 class="font-semibold text-foreground">{{ housing.title }}</h2>
                            <p class="text-muted text-sm">{{ housing.description | u.truncate(150, '...') }}</p>
                            <p>
                                <span class="font-medium text-base">{{ housing.price }}€</span>
                                {% if housing.avaibleAt > today %}
                                    <span class="text-sm">, disponible le {{ housing.avaibleAt | format_datetime(locale='fr', pattern="EEEE dd MMMM YYYY") }}</span>
                                {% else %}
                                    <span class="text-sm">, disponible immédiatement</span>
                                {% endif %}
                            </p>
                            <p class="text-sm sm:text-base text-muted">{{ housing.city | upper }}, {{ housing.postalCode }}</p>
                        </div>
                    </div>
                    {#                action#}
                    <div data-controller="dialog" data-action="click->dialog#backdropClose" class="bg-other flex flex-col gap-2 p-4 md:flex-row justify-center lg:flex-col lg:min-w-[250px]">
                        <a href="{{ path('app_housing', {'id': housing.id}) }}" type="button" class="btn btn-ghost text-sm w-fit">
                            <twig:ux:icon name="lucide:eye" class="w-6 object-fit text-muted" />
                            <span class="text-muted">
                                Voir l'annonce
                            </span>
                        </a>
                        <a href="{{ path('app_housing_edit', {'id': housing.id}) }}" type="button" class="btn btn-ghost text-sm w-fit">
                            <twig:ux:icon name="lucide:pencil" class="w-6 object-fit text-muted" />
                            <span class="text-muted">
                                Modifier l'annonce
                            </span>
                        </a>
                        <dialog data-dialog-target="dialog">
                            <div class="p-6 flex flex-col gap-6 items-center min-w-[300px]">
                                <div class="rounded-full bg-destructive/40 p-4 w-fit">
                                    <twig:ux:icon name="lucide:triangle-alert" class="w-12 object-fit text-destructive" />
                                </div>
                                <p class="text-muted">Etes-vous sûr de vouloir cette annonce ?</p>
                                <div class="alert bg-other text-foreground w-full text-center font-medium">{{ housing.title }}</div>
                                <div class="flex gap-4">
                                    <button class="btn btn-secondary" type="button" data-action="dialog#close" autofocus>Annuler</button>
                                    <a href="{{ path('app_housing_delete', {'id': housing.id}) }}" class="btn btn-destructive sm:w-fit" type="button">Supprimer</a>
                                </div>
                            </div>
                        </dialog>
                        <button data-action="dialog#open" type="button" class="btn btn-ghost text-sm w-fit">
                            <twig:ux:icon name="lucide:trash-2" class="w-6 object-fit text-destructive" />
                            <span class="text-destructive">
                                Supprimer l'annonce
                            </span>
                        </button>
                    </div>
                </div>
            {% endfor %}

{#            tenant#}
            {% for tenant in tenants %}
                <div class="border border-input rounded-lg lg:flex-row lg:flex">
                    <div class="md:flex">
                        {% if tenant.tenantImage %}
                            <img src="{{ asset('uploads/tenants/' ~ tenant.tenantImage.filename) }}" alt="Avatar de {{ tenant.user.getFullname }}" class="max-h-[280px] md:max-h-[200px] md:w-[250px] object-cover w-full">
                        {% elseif tenant.user.userImage %}
                            <img src="{{ asset('uploads/users/' ~ tenant.user.userImage.filename) }}" alt="Avatar de {{ tenant.user.getFullname }}" class="max-h-[280px] md:max-h-[200px] md:w-[250px] object-cover w-full">
                        {% else %}
                            <img src="https://ui-avatars.com/api/?name={{ tenant.user.firstName }}+{{ tenant.user.lastName }}" alt="Avatar de {{ tenant.user.getFullname }}" class="max-h-[280px] md:max-h-[200px] md:w-[250px] object-cover w-full">
                        {% endif %}
                        <div class="p-4 flex flex-col gap-4 md:justify-between">
                            <h2 class="font-semibold text-foreground">{{ tenant.getUser.firstname }}</h2>
                            <p class="text-foreground">{{ tenant.activity }}, {{ tenant.age }} ans</p>
                            <p class="text-foreground text-sm">Budget de <span class="font-medium">{{ tenant.budget }}€</span></p>
                            <p class="text-muted text-sm">{{ tenant.description | u.truncate(150, '...') }}</p>
                        </div>
                    </div>
                    {#                action#}
                    <div data-controller="dialog" data-action="click->dialog#backdropClose" class="bg-other flex flex-col gap-2 p-4 md:flex-row justify-center lg:flex-col lg:min-w-[250px]">
                        <a href="{{ path('app_tenant', {'id': tenant.id}) }}" type="button" class="btn btn-ghost text-sm w-fit">
                            <twig:ux:icon name="lucide:eye" class="w-6 object-fit text-muted" />
                            <span class="text-muted">
                                Voir l'annonce
                            </span>
                        </a>
                        <a href="{{ path('app_tenant_edit', {'id': tenant.id}) }}" type="button" class="btn btn-ghost text-sm w-fit">
                            <twig:ux:icon name="lucide:pencil" class="w-6 object-fit text-muted" />
                            <span class="text-muted">
                                Modifier l'annonce
                            </span>
                        </a>
                        <dialog data-dialog-target="dialog">
                            <div class="p-6 flex flex-col gap-6 items-center min-w-[300px]">
                                <div class="rounded-full bg-destructive/40 p-4 w-fit">
                                    <twig:ux:icon name="lucide:triangle-alert" class="w-12 object-fit text-destructive" />
                                </div>
                                <p class="text-muted">Etes-vous sûr de vouloir cette annonce ?</p>
                                <div class="alert bg-other text-foreground w-full text-center font-medium">Recherche de logement {{ tenant.user.firstname }}</div>
                                <div class="flex gap-4">
                                    <button class="btn btn-secondary" type="button" data-action="dialog#close" autofocus>Annuler</button>
                                    <a href="{{ path('app_tenant_delete', {'id': tenant.id}) }}" class="btn btn-destructive sm:w-fit" type="button">Supprimer</a>
                                </div>
                            </div>
                        </dialog>
                        <button data-action="dialog#open" type="button" class="btn btn-ghost text-sm w-fit">
                            <twig:ux:icon name="lucide:trash-2" class="w-6 object-fit text-destructive" />
                            <span class="text-destructive">
                                Supprimer l'annonce
                            </span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
