{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="grid my-12 lg:my-0 lg:grid-cols-2 md:min-h-[578.55px]">
        <img src="{{ asset('images/authentication-image.webp') }}" alt="" class="hidden max-h-[700px] h-full lg:block w-full object-cover">
        <form class="flex items-center md:my-6 justify-center lg:px-8" method="post">
            <div class="border-input border rounded-lg p-6 grid gap-4 max-w-[400px]">
                {% if error %}
                    <div class="alert alert-danger">L'adresse email ou le mot de passe est invalide</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% else %}
                <h1 class="font-semibold text-xl">Se connecter</h1>
                <p class="text-muted">Entrez votre email et votre mot de passe pour vous connecter à votre compte</p>
                <div>
                    <label class="block mb-2 text-sm text-foreground" for="username">Email</label>
                    <input class="text-foreground bg-white rounded-lg text-sm block w-full p-2.5 border border-input focus:z-10 focus:ring-accent focus:border-accent" type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
                </div>
                <div>
                    <label class="block mb-2 text-sm text-foreground" for="password">Password</label>
                    <input class="text-foreground bg-white rounded-lg text-sm block w-full p-2.5 border border-input focus:z-10 focus:ring-accent focus:border-accent" type="password" name="_password" id="password" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
        {#            See https://symfony.com/doc/current/security/remember_me.html#}
                <a href="{{ path('app_forgot_password_request') }}" class="text-muted text-sm text-right">Mot de passe oublié</a>
                <div class="flex items-center">
                    <input class="rounded w-4 h-4 text-accent bg-white border-input focus:ring-accent focus:border-accent" type="checkbox" id="remember_me" name="_remember_me">
                    <label class="ml-2.5 text-base text-foreground" for="remember_me">Se souvenir</label>
                </div>

                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
                <div class="text-center text-sm">
                    Vous êtes nouveau ?
                    <a href="{{ path('app_register') }}" class="text-primary font-semibold">Créer un compte</a>
                </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
