{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="relative home__search w-full min-h-[400px] grid place-items-center">
        <div class="absolute left-0 top-0 w-full h-full inset-0 z-50 bg-foreground bg-opacity-50"></div>
        <div class="wrapper z-50 grid gap-8">
            <h2 class=" text-white font-semibold text-2xl text-center">Trouvez votre colocation idéale, en un instant.</h2>
            <twig:SearchInput :hasSelectOptions="true"/>
        </div>
    </div>

    {# About us #}
    <div class="flex gap-8 lg:gap-12 flex-col wrapper !max-w-[800px] items-center mt-8 md:mt-12">
        <h2 class="text-lg text-foreground font-semibold sm:text-2xl">Qui sommes-nous ?</h2>
        <p class="text-sm sm:text-base text-muted text-center">Lorem ipsum dolor sit amet consectetur. Vitae venenatis sociis ornare quis vitae leo. Tincidunt suspendisse nunc tincidunt ultricies nam aliquet nulla ultricies. Magna id tortor donec at. Sed diam odio non lacus id aliquam habitant volutpat.</p>
        <div class="flex flex-col md:flex-row gap-8 md:gap-12">
            <div class="flex flex-col gap-4 items-center">
                <div class="flex flex-col gap-4">
                    <div class="p-4 bg-ternary rounded-full w-fit mx-auto">
                        <twig:ux:icon name="lucide:home" class="w-8 object-contain" />
                    </div>
                    <h3 class="font-semibold">Logement</h3>
                </div>
                <p class="text-sm sm:text-base text-muted text-center">Lorem ipsum dolor sit amet consectetur. Vitae venenatis sociis ornare quis vitae leo. Tincidunt suspendisse nunc tincidunt ultricies nam aliquet nulla ultricies. Magna id tortor donec at. Sed diam odio non lacus id aliquam habitant volutpat.</p>
                <a href="{{ path('app_search_housing') }}" class="btn btn-primary w-full">Trouver un logement</a>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="flex flex-col gap-4">
                    <div class="p-4 bg-ternary rounded-full w-fit mx-auto">
                        <twig:ux:icon name="lucide:users" class="w-8 object-contain" />
                    </div>
                    <h3 class="font-semibold">Colocataires</h3>
                </div>
            <p class="text-sm sm:text-base text-muted text-center">Lorem ipsum dolor sit amet consectetur. Vitae venenatis sociis ornare quis vitae leo. Tincidunt suspendisse nunc tincidunt ultricies nam aliquet nulla ultricies. Magna id tortor donec at. Sed diam odio non lacus id aliquam habitant volutpat.</p>
            <a href="{{ path('app_search_tenant') }}" class="btn btn-secondary w-full">Trouver des colocataires</a>
        </div>
        </div>
    </div>
    {# Latest houses #}
    <div class="flex gap-8 lg:gap-12 flex-col wrapper !max-w-[800px] mt-8 md:mt-12">
        <h2 class="text-lg text-center text-foreground font-semibold sm:text-2xl">Les derniers logement publiés</h2>
        <div class="grid gap-4 lg:gap-6">
            {% for housing in housings %}
                {% include 'search/_housing.html.twig' with {
                    'today': today,
                } %}
            {% endfor %}
        </div>
    </div>

    {# Users #}
    <div class="flex gap-8 lg:gap-12 flex-col wrapper !max-w-[800px] overflow-hidden mt-8 md:mt-12">
        <h2 class="text-lg text-center text-foreground font-semibold sm:text-2xl">Ils recherchent un logement</h2>
        <div
            data-controller="carousel"
            data-carousel-options-value='{
            "slidesPerView": "auto",
            "spaceBetween": 16,
            "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
            },
            "pagination": {"clickable": true}
            }'
            class="swiper-container relative">
            <div class="swiper-wrapper ">
                {% for tenant in tenants %}
                    <div class="swiper-slide max-w-[300px] w-full bg-white rounded-lg border-input border flex flex-col">
                        <img src="https://placehold.co/400" alt="House" class="w-full h-[250px] object-cover" />
                        <div class="p-4 grid gap-4">
                            <h6 class="text-foreground font-medium">{{ tenant.getUser.firstname }}</h6>
                            <p class="text-foreground text-sm">{{ tenant.activity }}, {{ tenant.age }} ans</p>
                            <p class="text-foreground text-sm">Budget de <span class="font-medium">{{ tenant.budget }}€</span></p>
                            <p class="text-sm text-muted">{{ tenant.description | u.truncate(90, '...') }}</p>
                            <a href="{{ path('app_tenant', {'id': tenant.id}) }}" data-turbo="false" class="btn btn-ternary">
                                En savoir plus
                                <twig:ux:icon name="lucide:arrow-right" class="w-4 object-fit text-foreground" />
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    {# Newsletter #}
    <div class="flex gap-6 md:gap-8 flex-col wrapper !pr-0 !max-w-[800px] overflow-hidden mt-8 my:mt-12">
        {{ component('NewsletterSubscribe') }}
    </div>
{% endblock %}
