<header data-controller="menu" class="relative border-bottom border-input border">
    <nav class="flex justify-between wrapper">
        <ul>
            <li>
                <a href="#" class="flex gap-2 items-center">
                    <img src="{{ asset('images/logo.png') }}" alt="Macoloc" class="object-contain w-9 sm:w-12 lg:w-16 my-2">
                    <h1 class="text-primary font-semibold text-xl sm:text-2xl lg:text-3xl">Macoloc</h1>
                </a>
            </li>
        </ul>
        <ul class="hidden lg:flex gap-6 items-center">
            <li><a href="#">Rechercher</a></li>
            <li><a href="#">Publier une annonce</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        {% if not is_granted("ROLE_USER") %}
        <ul class="hidden lg:flex gap-6 items-center">
            <li><a href="#">Se connecter</a></li>
            <li><a href="#" class="btn btn-primary">S'inscrire</a></li>
        </ul>
        {% else %}
        <ul class="hidden lg:flex gap-6 items-center">
            <li><a href="#">Mes annonces</a></li>
            <li>
                <a href="#" class="flex gap-2 items-center">
                    {# TODO : Afficher le menu d'action#}
                    {% if app.user.userImage %}
                        <img src="{{ asset('uploads/users/' ~ app.user.userImage.filename) }}" alt="Avatar de {{ app.user.getFullname }}" class="rounded-full object-contain w-10">
                    {% else %}
                        <img src="https://ui-avatars.com/api/?name={{ app.user.firstName }}+{{ app.user.lastName }}" alt="Avatar de {{ app.user.getFullname }}" class="rounded-full object-contain w-10">
                    {% endif %}
                </a>
            </li>
        </ul>
        {% endif %}
        <ul class="lg:hidden my-auto">
            <li>
                <a href="#" data-action="click->menu#toggleMenu">
                    <twig:ux:icon name="lucide:menu" class="h-9 object-contain" />
                </a>
            </li>
        </ul>
    </nav>

    {# Background overlay #}
    <div data-menu-target="overlay" class="fixed inset-0 bg-foreground z-[9999] bg-opacity-50 hidden" data-action="click->menu#closeMenu"></div>

    {# Mobile menu #}
    <nav data-menu-target="mobile" class="fixed top-0 left-0 z-[99999] flex w-96 max-w-full w-fit flex-col bg-white text-white transition-transform transform -translate-x-full h-full">
        <div class="flex justify-between items-center px-4">
            <a href="#" class="flex gap-2 items-center">
                <img src="{{ asset('images/logo.png') }}" alt="Macoloc" class="object-contain w-9 md:w-12 lg:w-16 my-2 md:my-4 lg:my-6">
                <h1 class="text-primary font-semibold text-xl lg:text-3xl">Macoloc</h1>
            </a>
            <button data-close="true" data-action="click->menu#closeMenu" class="cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-9 object-contain" viewBox="0 0 24 24"><path class="stroke-foreground" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6L6 18M6 6l12 12"/></svg>
            </button>
        </div>
        <ul class="flex flex-col gap-4 px-4 py-2 text-foreground mt-8">
            <li>
                <a href="#" class="flex items-center gap-3">
                    <twig:ux:icon name="lucide:home" class="object-contain h-6" />
                    Accueil
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-3">
                    <twig:ux:icon name="lucide:search" class="object-contain h-6" />
                    Rechercher
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-3">
                    <twig:ux:icon name="lucide:book-plus" class="object-contain h-6" />
                    Publier une annonce
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-3">
                    <twig:ux:icon name="lucide:mail" class="object-contain h-6" />
                    Contact
                </a>
            </li>
            <hr class="h-px my-1 bg-input border-0">
            {% if not is_granted("ROLE_USER") %}
            <li>
                <a href="#" class="flex items-center gap-3">
                    <twig:ux:icon name="lucide:log-in" class="object-contain h-6" />
                    Se connecter
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-primary">
                    <twig:ux:icon name="lucide:user-round-plus" class="object-contain h-6" />
                    S'inscrire
                </a>
            </li>
            {% else %}
                <li>
                    <a href="#" class="flex items-center gap-3">
                        <twig:ux:icon name="lucide:user" class="object-contain h-6" />
                        Mon compte
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center gap-3">
                        <twig:ux:icon name="lucide:message-square" class="object-contain h-6" />
                        Messagerie
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center gap-3">
                        <twig:ux:icon name="lucide:sticky-note" class="object-contain h-6" />
                        Mes annonces
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center gap-3">
                        <twig:ux:icon name="lucide:settings" class="object-contain h-6" />
                        Paramètres
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center gap-3">
                        <twig:ux:icon name="lucide:log-out" class="object-contain h-6" />
                        Se déconnecter
                    </a>
                </li>
            {% endif %}

            <hr class="h-px my-1 bg-input border-0">
        </ul>
        <ul class="flex flex-col gap-4 px-4 py-2 text-foreground">
            <li class="">&copy; 2024 Macoloc</li>
            <li class="flex gap-4 flex-wrap">
                <a href="">Politique de confidentialité</a>
                <a href="">Conditions générales</a>
            </li>
        </ul>
    </nav>
</header>
