{% extends 'base.html.twig' %}

{% block title %}Recherche de logement de {{ tenant.user.firstname }}{% endblock %}

{% block body %}
    <div class="flex flex-col gap-8">
        <div>
            <div class="flex flex-col md:flex-row md:flex-wrap justify-between gap-4 md:gap-8 items-center">
                <div class="flex flex-col gap-4">
                    <h1 class="font-semibold text-xl md:text-2xl text-foreground">Recherche de logement {{ tenant.user.firstname }}</h1>
                    <div class="flex gap-6">
                        <div class="flex gap-2 items-center">
                            {% if tenant.gender == 'Homme' %}
                            <twig:ux:icon name="material-symbols:male" class="w-6 object-fit text-foreground" />
                            {% elseif tenant.gender == 'Femme' %}
                            <twig:ux:icon name="material-symbols:female" class="w-6 object-fit text-foreground" />
                            {% else %}
                            <twig:ux:icon name="ph:gender-neuter" class="w-6 object-fit text-foreground" />
                            {% endif %}
                            <p class="text-foreground">{{ tenant.gender }}</p>
                        </div>
                        <div class="flex gap-2 items-center">
                            <twig:ux:icon name="lucide:hand-coins" class="w-6 object-fit text-foreground" />
                            <p class="text-foreground">{{ tenant.budget | format_currency('EUR', locale='fr') }}</p>
                        </div>
                    </div>
                    <div class="flex gap-2">
                        <twig:ux:icon name="lucide:map-pin" class="w-6 object-fit text-muted" />
                        <p class="text-muted text-sm md:text-base">{{ tenant.city }}</p>
                    </div>
                </div>
                <div class="flex flex-col gap-4">
                    <div data-controller="clipboard" data-clipboard-link-value="{{ url('app_tenant', { 'id': tenant.id }) }}" class="flex gap-4 items-center">
                        <div data-clipboard-target="button" data-action="click->clipboard#copy" class="p-3 bg-ternary w-fit rounded-full cursor-pointer">
                            <twig:ux:icon name="lucide:share-2" class="w-6 object-fit text-foreground pointer-events-none" data-clipboard-target="svg" />
                        </div>
                        <p class="text-muted text-sm md:text-base">Posté il y a {{ tenant.createdAt | ago(locale='fr')  }}</p>
                    </div>
                </div>
            </div>
            <hr class="h-px bg-input mt-4 border-0">
        </div>

        {# Informations #}
        <div class="flex flex-col lg:flex-row gap-8">
            {# Main #}
            <div  class="flex flex-col gap-8 w-full">
                {# Description #}
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4 items-center justify-between">
                        <h2 class="font-medium text-xl text-foreground">Description</h2>
                        <hr class="h-[2px] bg-foreground grow">
                    </div>
                    <p class="text-muted text-sm md:text-base">
                        {{ tenant.description | nl2br }}
                    </p>
                </div>

                {# Locataire #}
                <div class="flex flex-col gap-4">
                    <div class="flex flex-row gap-4 items-center justify-between">
                        <h2 class="font-medium text-xl text-foreground">Locataire</h2>
                        <hr class="h-[2px] bg-foreground grow">
                    </div>
                    <div>
                        <div class="flex justify-between flex-wrap text-sm md:text-base text-muted px-2 py-4 border-b border-input">
                            <p>Ville recherchée</p>
                            <p>{{ tenant.city }}</p>
                        </div>
                        <div class="flex justify-between flex-wrap text-sm md:text-base text-muted px-2 py-4 border-b border-input">
                            <p>Activité</p>
                            <p>{{ tenant.activity }}</p>
                        </div>
                        <div class="flex justify-between flex-wrap text-sm md:text-base text-muted px-2 py-4 border-b border-input">
                            <p>Âge</p>
                            <p>{{ tenant.age }} ans</p>
                        </div>
                        <div class="flex justify-between flex-wrap text-sm md:text-base text-muted px-2 py-4">
                            <p>Genre</p>
                            <p>{{ tenant.user.getGender }}</p>
                        </div>
                        <div class="flex justify-between flex-wrap text-sm md:text-base bg-ternary text-foreground font-semibold px-2 py-4">
                            <p>Budget (TTC)</p>
                            <p>{{ tenant.budget | format_currency('EUR', locale='fr') }}/mois</p>
                        </div>
                    </div>
                </div>

            </div>
            <aside>
                <div class="sticky top-4 flex flex-col gap-8 items-center justify-center bg-ternary rounded-lg p-6 min-w-max">
                    <h2 class="font-semibold text-xl text-foreground break-words text-center">Cette annonce vous intéresse ?</h2>
                    {% if tenant.tenantImage %}
                        <img src="{{ asset('uploads/tenants/' ~ tenant.tenantImage.filename) }}" alt="Avatar de {{ tenant.user.getFullname }}" class="rounded-full object-contain w-[150px] h-[150px]">
                    {% elseif tenant.user.userImage %}
                        <img src="{{ asset('uploads/users/' ~ tenant.user.userImage.filename) }}" alt="Avatar de {{ tenant.user.getFullname }}" class="rounded-full object-contain w-[150px] h-[150px]">
                    {% else %}
                        <img src="https://ui-avatars.com/api/?name={{ tenant.user.firstName }}+{{ tenant.user.lastName }}" alt="Avatar de {{ tenant.user.getFullname }}" class="rounded-full object-contain w-[150px] h-[150px]">
                    {% endif %}
                    <p class="font-semibold text-xl text-foreground">{{ tenant.user.firstname }}</p>
                    {#                TODO: Add redirection#}
                    <a href="{{ path('app_account_chat_new', { 'id': tenant.user.id }) }}" type="button" class="btn btn-primary w-fit">
                        Envoyer un message
                        <twig:ux:icon name="lucide:chevron-right" class="w-6 object-fit text-white" />
                    </a>
                </div>
            </aside>
        </div>

        {# Map #}
        <div class="flex flex-col gap-4">
            <div class="map-container" data-controller="map" data-map-lat-value="{{ tenant.latitude }}" data-map-lon-value="{{ tenant.longitude }}">
                <div data-map-target="container" class="h-[450px] bg-input lg:h-[550px]"></div>
            </div>
            <p class="text-muted text-sm md:text-base">Numéro de l'annonce: {{ tenant.id }}</p>
        </div>
    </div>
{% endblock %}
