<div data-controller="admin-menu">

    <div data-admin-menu-target="header" class="w-full bg-primary sticky top-0 z-[99999]">
        <button data-action="click->admin-menu#toggleSidebar" type="button" class="inline-flex items-center py-2 px-4 sm:px-8 md:px-12 lg:px-16 rounded-lg lg:hidden">
            <span class="sr-only">Ouvrir le menu</span>
            <twig:ux:icon name="lucide:menu" class="h-9 object-contain text-white cursor-pointer" />
        </button>
    </div>

    <aside data-admin-menu-target="sidebar"class="fixed top-12 lg:top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full lg:translate-x-0">
        <div class="h-full px-3 py-4 bg-primary overflow-y-auto">
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="{{ path('admin_dashboard') }}" class="flex items-center p-2 text-base text-white rounded-lg hover:bg-other group">
                        <twig:ux:icon name="lucide:layout-dashboard" class="w-6 object-contain text-white transition duration-75 group-hover:text-white" />
                        <span class="ms-3">Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <button data-action="click->admin-menu#openDropdown" type="button" class="flex items-center text-base w-full p-2 text-white transition duration-75 rounded-lg group hover:bg-other">
                        <twig:ux:icon name="lucide:book" class="w-6 object-contain text-white transition duration-75 group-hover:text-white" />
                        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Annnonces</span>
                        <twig:ux:icon name="lucide:chevron-down" class="w-6 object-fit text-white" />
                    </button>
                    <ul data-admin-menu-target="dropdown" class="hidden py-2 space-y-2">
                        <li>
                            <a href="{{ path('admin_housing') }}" class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-other">Logements</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_tenant') }}" class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-other">Locataires</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{{ path('admin_user') }}" class="flex items-center p-2 text-base text-white rounded-lg hover:bg-other group">
                        <twig:ux:icon name="lucide:user" class="w-6 object-contain text-white transition duration-75 group-hover:text-white" />
                        <span class="flex-1 ms-3 whitespace-nowrap">Utilisateurs</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_newsletter') }}" class="flex items-center p-2 text-base text-white rounded-lg hover:bg-other group">
                        <twig:ux:icon name="lucide:mail" class="w-6 object-contain text-white transition duration-75 group-hover:text-white" />
                        <span class="flex-1 ms-3 whitespace-nowrap">Newsletter</span>
                    </a>
                </li>

                <li class="!mt-12">
                    <a href="{{ path('admin_logout') }}" class="flex items-center p-2 text-base text-white rounded-lg hover:bg-other group">
                        <twig:ux:icon name="lucide:log-out" class="w-6 object-contain text-white transition duration-75 group-hover:text-white" />
                        <span class="flex-1 ms-3 whitespace-nowrap">Se déconnecter</span>
                    </a>
                </li>
                <li class="!mt-8">
                    <a href="{{ path('app_homepage') }}" class="flex items-center p-2 text-sm text-white rounded-lg hover:bg-other group">
                        <twig:ux:icon name="lucide:eye" class="w-5 object-contain text-white transition duration-75 group-hover:text-white" />
                        <span class="flex-1 ms-3 whitespace-nowrap">Revenir au site web</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div data-admin-menu-target="backdrop" class="fixed hidden bg-gray-900 bg-opacity-50 top-0 left-0 w-[100dvw] h-[100dvh] z-10"></div>
</div>

