<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %} - Administration</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <meta name="robots" content="noindex, follow">
    {#        Font family#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/autocomplete.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
{% set route = app.request.get('_route') %}
<body class="{% if route == 'admin_login' %}overflow-x-hidden mx-auto flex min-h-[100dvh] flex-col justify-center {% endif %}bg-white">
    {% if route == 'admin_login' %}
    <main class="grow mx-auto w-full px-4 md:px-6 lg:px-0">
    {% else %}
        {% include 'admin/partials/_header.html.twig' %}
    <main class="p-4 sm:p-8 md:px-12 lg:px-16 lg:ml-64">
    {% endif %}
    {% for label, messages in app.flashes %}
        <div class="my-6 md:my-8 w-fit mx-auto">
            <div class='alert alert-{{ label }}'>
                {% for message in messages %}
                    <p>{{ message | raw }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
    </main>
</body>
</html>
