<div class="max-w-[300px] w-full bg-white rounded-lg border-input border flex flex-col">
    {% if tenant.tenantImage %}
        <img src="{{ asset('uploads/tenants/' ~ tenant.tenantImage.filename) }}" alt="Avatar de {{ tenant.user.getFullname }}" class="w-full h-[250px] object-cover">
    {% elseif tenant.user.userImage %}
        <img src="{{ asset('uploads/users/' ~ tenant.user.userImage.filename) }}" alt="Avatar de {{ tenant.user.getFullname }}" class="w-full h-[250px] object-cover">
    {% else %}
        <img src="https://ui-avatars.com/api/?name={{ tenant.user.firstName }}+{{ tenant.user.lastName }}" alt="Avatar de {{ tenant.user.getFullname }}" class="w-full h-[250px] object-cover">
    {% endif %}
    <div class="p-4 grid gap-4 grow">
        <h6 class="text-foreground font-medium">{{ tenant.getUser.firstname }}</h6>
        <p class="text-foreground text-sm">{{ tenant.activity }}, {{ tenant.age }} ans</p>
        <p class="text-foreground text-sm">Budget de <span class="font-medium">{{ tenant.budget }}€</span></p>
        <p class="text-sm text-muted">{{ tenant.description | u.truncate(90, '...') }}</p>
        <a href="{{ path('app_tenant', {'id': tenant.id}) }}" data-turbo="false" class="btn btn-ternary">
            En savoir plus
            <twig:ux:icon name="lucide:arrow-right" class="w-4 object-fit text-foreground" />
        </a>
    </div>
</div>
