{% extends 'base.html.twig' %}

{% block title %}Logements{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4 items-center">
        <div class="flex flex-col gap-2 sm:gap-0 sm:flex-row w-full justify-center">
            <a href="{{ path('app_search_housing') }}" class="btn btn-primary w-full sm:w-fit sm:rounded-none sm:rounded-l-lg">Je recherche un logement</a>
            <a href="{{ path('app_search_tenant') }}" class="btn btn-secondary w-full sm:w-fit sm:rounded-none sm:rounded-r-lg">Je recherche un colocataire</a>
        </div>
        <twig:SearchInput :hasSelectOptions="false" from="housing" class="w-full" />
        <div class="lg:flex w-full">
            <div data-controller="hide-filter" class="lg:min-w-[250px]">
                <button data-action="click->hide-filter#openForm" class="lg:hidden mb-4 btn btn-primary">Filtes</button>
                <div data-hide-filter-target="form" class="hidden lg:block w-full border border-input rounded-lg p-4">
                    {{ form_start(search_form, { 'attr': { 'data-controller': 'filter', 'data-filter-target' :'form', 'data-turbo-frame': "housings_list_frame" } }) }}
                    {{ form_widget(search_form, { 'attr': {'data-action': 'change->filter#applyFilter'}}) }}
                    {{ form_end(search_form) }}
                </div>
            </div>
            <div class="flex flex-col grow mt-6 lg:mt-0 lg:ml-6 items-center gap-8">
                <turbo-frame id="housings_list_frame" class="flex flex-col gap-4 sm:gap-6">
                    {% if housings is empty %}
                        <div class="flex flex-col gap-4 lg:mt-8 items-center">
                            <div class="p-4 bg-ternary w-fit rounded-full">
                                <twig:ux:icon name="lucide:home" class="w-16 object-fit text-foreground" />
                            </div>
                            <p class="text-foreground text-lg font-medium">Aucun logement trouvé</p>
                            <p class="text-muted text-center">Essayez de changer de filtres</p>
                        </div>
                    {% else %}
                        {% for housing in housings %}
                            {% include 'search/_housing.html.twig' with {
                                'today': today,
                            } %}
                        {% endfor %}
                        {{ knp_pagination_render(housings) }}
                    {% endif %}
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}
