{% extends 'base.html.twig' %}

{% block title %}Locataires{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4 items-center">
        <div class="flex flex-col gap-2 md:gap-0 md:flex-row">
            <a href="{{ path('app_search_housing') }}" class="btn btn-secondary md:rounded-none md:rounded-l-lg">Je recherche un logement</a>
            <a href="{{ path('app_search_tenant') }}" class="btn btn-primary md:rounded-none md:rounded-r-lg">Je recherche un colocataire</a>
        </div>
        <twig:SearchInput :hasSelectOptions="false" from="tenant" class="w-full" />
        <div class="lg:flex gap-6 w-full">
            <div data-controller="hide-filter" class="lg:min-w-[250px] mb-4 lg:mb-0">
                <button data-action="click->hide-filter#openForm" class="lg:hidden mb-4 btn btn-primary">Filtes</button>
                <div data-hide-filter-target="form" class="hidden lg:block w-full border border-input rounded-lg p-4">
                    {{ form_start(search_form, { 'attr': { 'data-controller': 'filter', 'data-filter-target' :'form', 'data-turbo-frame': "housings_list_frame" } }) }}
                    {{ form_widget(search_form, { 'attr': {'data-action': 'change->filter#applyFilter'}}) }}
                    {{ form_end(search_form) }}
                </div>
            </div>
            <div class="flex flex-col grow mt-6 lg:mt-0 lg:ml-6 items-center gap-8">
                <turbo-frame id="housings_list_frame">
                    {% if tenants is empty %}
                        <div class="flex flex-col gap-4 lg:mt-8 items-center">
                            <div class="p-4 bg-ternary w-fit rounded-full">
                                <twig:ux:icon name="lucide:user" class="w-16 object-fit text-foreground" />
                            </div>
                            <p class="text-foreground text-lg font-medium">Aucun locataire trouvé</p>
                            <p class="text-muted text-center">Essayez de changer de filtres</p>
                        </div>
                    {% else %}
                        <div class="flex flex-col gap-4">
                            <div class="grid grid-cols-1 place-items-center sm:grid-cols-2 lg:grid-cols-3 gap-4">
                                {% for tenant in tenants %}
                                    {% include 'search/_tenant.html.twig' %}
                                {% endfor %}
                            </div>
                            {{ knp_pagination_render(tenants) }}
                        </div>
                    {% endif %}
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}
