{% extends 'base.html.twig' %}

{% block title %}Mes messages{% endblock %}

{% import 'partials/_breadcrumbs.html.twig' as breadcrumbs %}

{% block body %}
    <div class="flex flex-col gap-8">
        {{ breadcrumbs.render([
            {'url': url('app_account'), 'text': 'Mon compte'},
            {'url': url('app_account_chat'), 'text': 'Mes messages'},
        ]) }}
        <h1 class="font-semibold text-2xl text-foreground">Mes messages</h1>

        {% if conversations is empty %}
            <div>
                <p class="text-muted">Vous n'avez aucun message.</p>
                <p class="text-muted mt-2">Pour contacter un utilisateur, rendez-vous sur la page de l'annonce et contactez le propriétaire.</p>
            </div>
        {% else %}
        {# Conversation #}
        <div class="flex flex-col grow rounded-lg border border-input lg:max-w-[400px] h-[60dvh] md:h-[50dvh] lg:h-[80dvh] overflow-y-auto">
                {% for conversation in conversations %}
                    {% if conversation.userOne.id == app.user.id %}
                        {% set user = conversation.userTwo %}
                    {% else %}
                        {% set user = conversation.userTwo %}
                    {% endif %}
                    <a href="{{ path('app_account_chat_conversation', { 'id': conversation.id }) }}" class="w-full items-center hover:bg-secondary/10 p-3 flex flex-row gap-4 border-b border-input">
                        {% if user.userImage %}
                            <img src="{{ asset('uploads/tenants/' ~ user.userImage.filename) }}" alt="Avatar de {{ user.getFullname }}" class="rounded-full object-cover max-w-12 max-h-12">
                        {% else %}
                            <img src="https://ui-avatars.com/api/?name={{ user.firstName }}+{{ user.lastName }}" alt="Avatar de {{ user.getFullname }}" class="rounded-full object-cover max-w-12 max-h-12">
                        {% endif %}
                        <div class="flex flex-col gap-4">
                            <h3 class="font-semibold text-foreground">{{ user.getFullname }}</h3>
                            {% if conversation.messages is not empty %}
                                {% set latestMessage = conversation.messages.last %}
                                <div class="flex justify-between gap-4">
                                    <p class="text-sm text-muted truncate">{{ latestMessage.content | u.truncate(30, '...') }}</p>
                                    <span class="text-xs text-muted">{{ latestMessage.createdAt | date('H:i') }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
